[submodule "zfs-debian"]
	path = zfs-debian
	url = ../mirror_zfs-debian
[submodule "spl-debian"]
	path = spl-debian
	url = ../mirror_spl-debian
[submodule "zfs/upstream"]
	path = zfs/upstream
	url = ../mirror_zfs
[submodule "spl/upstream"]
	path = spl/upstream
	url = ../mirror_spl
