Source: spl-linux
Section: kernel
Priority: optional
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: autogen,
               autotools-dev,
               debhelper (>= 10~),
               dh-autoreconf,
               libtool
Standards-Version: 4.1.2
Homepage: http://www.zfsonlinux.org/
Vcs-Git: https://git.proxmox.com/git/zfsonlinux.git
Vcs-Browser: https://git.proxmox.com/?p=zfsonlinux.git;a=summary

Package: spl
Architecture: linux-any
Conflicts: spl-dev, splat
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Solaris Porting Layer user-space utilities for Linux
 The Solaris Porting Layer (SPL) is a Linux kernel module which provides
 many of the Solaris kernel APIs. This shim layer makes it possible to
 run Solaris kernel code in the Linux kernel with relatively minimal
 modification. The Solaris Porting LAyer Tests (SPLAT) is a Linux kernel
 module which provides a testing harness for the SPL module.
 .
 SPL can be particularly useful when you want to track upstream Illumos
 (or any other OpenSolaris fork) development closely and don't want the
 overhead of maintaining a large patch which converts Solaris primitives
 to Linux primitives.
 .
 This package includes the user space utilities needed to test and debug
 the SPL and SPLAT kernel modules.
